@import 'overrides';

.current-time {
  font-family: 'Fredoka One';
  text-align: center;
  font-size: 4em;

  em { font-style: normal; }

  .colon em {

    color: transparent;
  }
}

ul.timetable {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    text-align: center;
    line-height: 2em;
    &:nth-child(odd) {
      background: #f2f2f2;
    }

    &.past {
      display: none;
    }

    &:not(.past) {
      &:first-of-type {
        font-size: 2em;
        font-weight: bold;
      }

      &:nth-of-type(2) {
        font-size: 1.7em;
      }

      &:nth-of-type(3) {
        font-size: 1.2em;
      }
    }

  }
}
